# Emacs backup files
*~

# Any hidden file or folder
.*
.*/

# metals
project/metals.sbt
project/project/
project/target/
target/

# eclipse
build/
bin/

# intellij idea
*.log
*.iml
*.ipr
*.iws

#general
*.class